@charset "utf-8";

@import url("layout.css");
@import url("form.css");
@import url("table.css");
@import url("button.css");


html,body{width:100%;height:100%}
/*html{overflow-y:scroll;font-size:10px}*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body, h1,h2,h3,h4,input,button{ 
	font-family:"Malgun Gothic", "Dotum", "Gulim", "tahoma";
	font-size:13px;
	color:#555;
	text-align:left;
	line-height:130%;
	text-decoration:none;
	border-collapse: collapse;
	margin:0px;
	scrollbar-arrow-color: #000000;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #B4B4B4;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-track-color: #FAFAFA;
	scrollbar-face-color: #EEEEEE;
	*word-break:break-all;
	-ms-word-break:break-all;
	
	-ms-overflow-style: none; /* IE에서 스크롤바 감춤 */
 }

body .wrapper{
	-ms-overflow-style: auto; /* IE에서 스크롤바 감춤 */
}

body::-webkit-scrollbar {
	display: none !important;	 /* chrome에서 스크롤바 감춤 */
}
 
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle;}
img{vertical-align:top}
i,em,address{font-style:normal}
button{cursor:pointer}
button{margin:0;padding:0}
button *{position:relative}
button img{left:-3px;*left:auto}
/*html:first-child select{height:20px;padding-right:6px}*/
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input, textarea{}
input::-ms-clear{display:none}
input::-webkit-input-placeholder{color:#c4c4c4}
input::-moz-placeholder{color:#c4c4c4}
input:-ms-input-placeholder{color:#c4c4c4}

input.sms::-webkit-input-placeholder{color:#0f2d49; font-weight:bold}
input.sms::-moz-placeholder{color:#0f2d49; font-weight:bold}
input.sms:-ms-input-placeholder{color:#0f2d49; font-weight:bold}
input.nsend::-webkit-input-placeholder{color:#0f2d49; font-weight:bold}
input.nsend::-moz-placeholder{color:#0f2d49; font-weight:bold}
input.nsend:-ms-input-placeholder{color:#0f2d49; font-weight:bold}
textarea.sms::-webkit-input-placeholder{color:#233d58;}
textarea.sms::-moz-placeholder{color:#233d58;}
textarea.sms:-ms-input-placeholder{color:#233d58;}
 
/* skipNavi */
*html #skipNavi{position:absolute; width:500px; height:0;margin:0 auto; z-index:-1;}
#skipNavi{position:absolute; width:500px; height:0;margin:0 auto; z-index:10000; }
#skipNavi a{display:block; position:absolute; top:-500px; left:0; overflow:hidden;}
#skipNavi a:focus, .skipNavi a:active, .skipNavi a:hover {display:block; top:0; left:0; padding:7px 10px 5px; background:#000; color:#fff; font-weight:bold; font-size:14px; text-decoration:none}
/* //skipNavi */

/*숨김영역*/
.skip, hr,legend,caption{
	position:absolute;
	width:0; 
	height:0;            
	line-height:0;
	overflow:hidden; 
	text-indent:-2000px;
	left:-500px;
}
/*//숨김영역*/




/* common******************************************************/

/* deco */
.underline{text-decoration:underline !important}

/* font weight*/
.fwn{font-weight:normal !important}
.fwb{font-weight:bold !important}
.wbw{word-wrap:break-word !important}

/* a link */
a:link{color:#333; text-decoration:none;}
a:visited{color:#333; text-decoration:none;}
a:active{color:#333; text-decoration:none;}
a:hover{color:#333; text-decoration:none;}

/* float */
.fn{float:none}
.fl{float:left}
.fr{float:right !important}

.pa_right0_top-15{position:absolute; right:0px; top:-15px;}
.pa_right10{position:absolute; right:10px;}
.pa_right10_2{position:absolute; right:10px; top:8px;}

/* margin */
.mg0{margin:0px !important}
.mgt0{margin-top:0px !important}
.mgt1{margin-top:1px !important}
.mgt2{margin-top:2px !important}
.mgt3{margin-top:3px !important}
.mgt4{margin-top:4px !important}
.mgt5{margin-top:5px !important}
.mgt6{margin-top:6px !important}
.mgt7{margin-top:7px !important}
.mgt8{margin-top:8px !important}
.mgt9{margin-top:9px !important}
.mgt10{margin-top:10px !important}
.mgt11{margin-top:11px !important}
.mgt12{margin-top:12px !important}
.mgt13{margin-top:13px !important}
.mgt14{margin-top:14px !important}
.mgt15{margin-top:15px !important}
.mgt16{margin-top:16px !important}
.mgt17{margin-top:17px !important}
.mgt18{margin-top:18px !important}
.mgt19{margin-top:19px !important}
.mgt20{margin-top:20px !important}
.mgt21{margin-top:21px !important}
.mgt22{margin-top:22px !important}
.mgt23{margin-top:23px !important}
.mgt24{margin-top:24px !important}
.mgt25{margin-top:25px !important}
.mgt27{margin-top:27px !important}
.mgt28{margin-top:28px !important}
.mgt30{margin-top:30px !important}
.mgt32{margin-top:32px !important}
.mgt33{margin-top:33px !important}
.mgt35{margin-top:35px !important}
.mgt36{margin-top:36px !important}
.mgt38{margin-top:38px !important}
.mgt39{margin-top:39px !important}
.mgt40{margin-top:40px !important}
.mgt50{margin-top:50px !important}

.mgb0{margin-bottom:0px !important;}
.mgb1{margin-bottom:1px !important;}
.mgb2{margin-bottom:2px !important;}
.mgb3{margin-bottom:3px !important;}
.mgb4{margin-bottom:4px !important;}
.mgb5{margin-bottom:5px !important;}
.mgb6{margin-bottom:6px !important;}
.mgb7{margin-bottom:7px !important;}
.mgb8{margin-bottom:8px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb17{margin-bottom:17px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb31{margin-bottom:31px !important;}
.mgb32{margin-bottom:32px !important;}
.mgb40{margin-bottom:40px !important;}

.mgr0{margin-right:0px !important}
.mgr1{margin-right:1px !important}
.mgr2{margin-right:2px !important}
.mgr3{margin-right:3px !important}
.mgr4{margin-right:4px !important}
.mgr5{margin-right:5px !important}
.mgr6{margin-right:6px !important}
.mgr7{margin-right:7px !important}
.mgr8{margin-right:8px !important}
.mgr9{margin-right:9px !important}
.mgr10{margin-right:10px !important}
.mgr11{margin-right:11px !important}
.mgr12{margin-right:12px !important}
.mgr13{margin-right:13px !important}
.mgr14{margin-right:14px !important}
.mgr15{margin-right:15px !important}
.mgr17{margin-right:17px !important}
.mgr20{margin-right:20px !important}
.mgr24{margin-right:24px !important}
.mgr36{margin-right:36px !important}

.mgl1{margin-left:1px !important;}
.mgl2{margin-left:2px !important;}
.mgl3{margin-left:3px !important;}
.mgl5{margin-left:5px !important;}
.mgl6{margin-left:6px !important;}
.mgl7{margin-left:7px !important;}
.mgl8{margin-left:8px !important;}
.mgl9{margin-left:9px !important;}
.mgl10{margin-left:10px !important;}
.mgl11{margin-left:11px !important;}
.mgl12{margin-left:12px !important;}
.mgl13{margin-left:13px !important;}
.mgl14{margin-left:14px !important;}
.mgl15{margin-left:15px !important;}
.mgl16{margin-left:16px !important;}
.mgl17{margin-left:17px !important;}
.mgl18{margin-left:18px !important;}
.mgl19{margin-left:19px !important;}
.mgl20{margin-left:20px !important;}
.mgl21{margin-left:0px !important;}
.mgl22{margin-left:22px !important;}
.mgl24{margin-left:24px !important;}
.mgl25{margin-left:25px !important;}
.mgl28{margin-left:28px !important;}
.mgl30{margin-left:30px !important;}
.mgl40{margin-left:40px !important;}
.mgl50{margin-left:50px !important;}
.mgl54{margin-left:54px !important;}
.mgl56{margin-left:56px !important;}
.mgl90{margin-left:90px !important;}
.mgl100{margin-left:100px !important;}
.mgl110{margin-left:110px !important;}
.mgl123{margin-left:123px !important;}
.mgl124{margin-left:140px !important;}
.mgl125{margin-left:75px !important;}
.mgl129{margin-left:129px !important;}

/* padding */
.pd0{padding:0 !important}
.pd2{padding:2px !important}
.pd5{padding:5px !important}
.pd7{padding:7px !important}
.pd10{padding:10px !important}
.pd25{padding:25px !important}
.pdt0{padding-top:0px !important}
.pdt5{padding-top:5px !important}
.pdt10{padding-top:10px !important}
.pdb10{padding-bottom:10px !important}
.pdb15{padding-bottom:15px !important}
.pdl10{padding-left:10px !important}
.pdl20{padding-left:20px !important}
.pdr9{padding-right:9px !important}
.pdtb10{padding:10px 0 !important}
.pdtb10lr15{padding:10px 15px !important}

/* text-align */
.tal{text-align:left !important}
.tar{text-align:right !important}
.tac{text-align:center !important}

/* vertical-align */
.vat0{vertical-align:top;}
.vab0{vertical-align:bottom;}
.vam0{vertical-align:middle;}
.vam00{vertical-align:middle; margin-bottom:1px;}
.vam01{vertical-align:middle; margin-bottom:2px;}
.vam02{vertical-align:middle; margin-bottom:3px;}

/* border */
.bl0{border-left:0px !important}
.bln{border-left:none !important}
.br0{border-right:0px !important}
.bt0{border-top:0px !important}
.bb0{border-bottom:0px !important}

/* line-height */
.lh19{line-height:19px !important;}
.lh22{line-height:22px !important;}

.w100{width:100%;}

.color_orange{color:#f06000 !important;}



.disb{display:block !important}
.disib{display:inline-block !important}

.overf_h{overflow:hidden !important}

.border_l0{border-left:0px !important}
.border_t0{border-top:0px !important}
.border_r0{border-right:0px !important}
.border_b0{border-bottom:0px !important}

.ls-1{letter-spacing:-1px !important;}
.ls-2{letter-spacing:-2px !important;}

.h50{height:50px !important}
.h100{height:100px !important}
.h150{height:150px !important}
.h200{height:200px !important}
/* //common******************************************************/


/* tootip **************************************/
.tooltiptext {
  visibility: hidden;
  width: 370px;
  background-color: #cfddea;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px 5px 5px; 

/*   Position the tooltip */
  position: absolute;
  z-index: 1;
}


/* tootip **************************************/